h2 {
  /*font-variant: small-caps;*/
	font-weight: bold;
}

h3 {
  /*font-variant: small-caps;*/
	font-weight: bold;
}

h4 {
	font-weight: bold;
	margin-top:15px;
	/*font-variant: small-caps;*/
}

p.bibitem {
  margin: 20px;
  text-indent: -20px;
}
